.landingPageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/src/assets/bookBackground2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
  height: 100vh;
}

h1 {
  font-family: "Cormorant SC", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(189, 114, 89), rgb(81, 2, 20));
  background-clip: text;

  -webkit-text-fill-color: transparent;
  -webkit-filter: drop-shadow(0 0 7px #fea) drop-shadow(0 0 14px #fea)
    drop-shadow(0 0 28px #fea);
  filter: drop-shadow(0 0 7px #fea) drop-shadow(0 0 14px #fea)
    drop-shadow(0 0 28px #fea);

  margin: 30px 0 10px 0;
}
form {
  display: flex;
  flex-direction: column;
  width: 282px;
}

.buttonDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 282px;
}

.formContainerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 320px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 14px;
  width: 100%;
  justify-content: right;
  align-items: left;
  text-shadow: 0 0 7px #fffff6, 0 0 14px #fffff6;
}

input[type="text"],
input[type="password"] {
  width: 240px;
  margin: 8px 0 18px 0px;
  padding: 12px 20px;
  display: inline-block;
  color: 1px solid #00000075;
  border: 1px solid #00000075;
  border-radius: 5px;
  background-color: #fff4db90;
}
input:focus {
  outline: none;
  box-shadow: 0px 0px 5px #fff4db;
}

input[type="submit"] {
  width: 120px;
  height: 40px;
  font-family: "Averia Serif Libre";
  border-radius: 5px;
  margin: 20px 0 35px 0;
  align-self: flex-end;
  margin: 20px 0 15px 0;
  width: 100%;
  font-size: 18px;
  background-color: #a14d4a;
  color: #ffd3c2;
  border: 1px solid #00000075;
  box-shadow: 2px 2px 2px rgba(145, 132, 132, 0.1);
}

input[type="submit"]:hover {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  background-color: #b55e5b;
  color: #ffdbd2;
  border: 1px solid black;
}

button {
  width: 120px;
  height: 40px;
  font-size: 18px;
  font-family: "Averia Serif Libre";
  border-radius: 5px;
  margin: 20px 0 20px 0;
  border: 1px solid #00000075;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: #a14d4a;
  color: #d39b8b;
}

.activeButton {
  border: 1px solid black;
  transition-duration: 0.4s;
  background-color: #a14d4a;
  color: #ffd3c2;
}

button:hover {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  background-color: #b55e5b;
  color: #ffdbd2;
}
