.imageDiv {
  position: relative;
  height: 135px;
  width: 135px;
}

.image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0 30%;
  border-radius: 6px;
}

.questionMark {
  position: absolute;
  display: flex;
  width: 70%;
  padding: 15%;
  background-color: #847a6bf0;
  border-radius: 6px;
}

.questionMarkBlocked {
  display: none;
}

.tableRow {
  line-height: 0;
  background-color: #e6e6e68b;
}

.tableDataCell {
  width: 135px;
  min-width: 135px;
  border-radius: 6px;
  padding: 0;
}
