.mainTablePage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainTablePageContent {
  display: flex;
  flex-direction: row;
}

.mainTable {
  background-color: var(--lightShade);
  padding: 0 12px 12px 12px;
  border-radius: 10px;
  margin: 0 12px 0 12px;
  border-color: #ffffff28;
  border-style: solid;
}

.tableHeader {
  display: flex;
  flex-direction: row;
}

.tableHeader div {
  width: 141px;
  text-align: center;
}

.tableData {
  text-align: center;
}

.tableData table {
  border-spacing: 6px;
}

.line {
  width: 680px;
  display: flex;
  justify-content: space-between;
}
