.mainTable {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainTableContent {
  display: flex;
  flex-direction: row;
}

.tableHeader {
  display: flex;
  flex-direction: row;
}

.tableHeader div {
  width: 160px;
  text-align: center;
}

.tableData {
  overflow: scroll;
  height: 400px;
  text-align: center;
}

.line {
  width: 680px;
  display: flex;
  justify-content: space-between;
}
