.duelBoard {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.playersStatusDiv {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  column-gap: 20px;
}

.fieldArea {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 7px;
  margin: 5px;
  border-radius: 15px;
  background-color: var(--lightShade);
}

.passTurnImage {
  height: 140px;
  border-radius: 10px;
}

.passTurnButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 180px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: transparent;
  background-image: url("/src/assets/clockBackground.png");
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 4px black;
}
.passTurnButton:hover {
  background-image: url("/src/assets/clockBackgroundHover.png");
}
.passTurnButton:active {
  background-image: url("/src/assets/clockBackgroundClick.png");
}

.bottonRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middleSection {
  display: flex;
  flex-direction: row;
}

.sideSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 170px;
  margin: 15px;
}
