.duelBoard {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.playersStatusDiv {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  column-gap: 20px;
}

.playerSide {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 10px;
}

.playerSideTop {
  border-radius: 15px 15px 0 15px;
}

.playerSideBottom {
  border-radius: 0 15px 15px 15px;
}

.passTurnImage {
  height: 110px;
  border-radius: 10px;
}

.passTurnButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 143px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: transparent;
  background-image: url("/src/assets/clockBackground.png");
  background-size: cover;
  background-position: center;
}
.passTurnButton:hover {
  background-image: url("/src/assets/clockBackgroundHover.png");
}
.passTurnButton:active {
  background-image: url("/src/assets/clockBackgroundClick.png");
}

.bottonRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.onTurn {
  background-color: var(--lightShade);
}

.notOnTurn {
  background-color: var(--darkShade);
}
