.duelBoard {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.playersStatusDiv {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  column-gap: 20px;
}

.playerSide {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 10px;
}

.playerSideTop {
  border-radius: 15px 15px 0 15px;
}

.playerSideBottom {
  border-radius: 0 15px 15px 15px;
}

.passTurnIcon {
  height: 80px;
}

.passTurnButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

.passTurnButton:hover {
  background-color: white;
}

.bottonRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.onTurn {
  background-color: var(--lightShade);
}

.notOnTurn {
  background-color: var(--darkShade);
}
