.playerStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/src/assets/statusBox.png");
  background-size: 100% 100%;
  color: #fff8e0;
  font-weight: 600;
  padding: 15px;
  width: 100%;
}

.statusText {
  align-items: center;
}

.deckIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-image: url("/src/assets/icons/deckIcon.png");
  background-size: 100% 100%;
  margin: 4px 0 4px 0;
}
