.playerStatus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6px 16px 6px 16px;
  width: 50%;
  height: fit-content;
  color: white;
}

.playerStatusRight {
  margin-bottom: 20px;
  border-radius: 0 0 10px 10px;
}

.playerStatusLeft {
  margin-top: 20px;
  border-radius: 10px 10px 0 0;
}

.onTurn {
  background-color: lightgray;
  color: black;
  font-weight: 600;
}

.notOnTurn {
  background-color: gray;
  color: white;
  font-weight: 400;
}
