.playerStatus {
  display: flex;
  flex-direction: row;
  padding: 6px 16px 6px 16px;
  background-color: gray;
  width: 50%;
  height: fit-content;
  color: white;
}

.playerStatus-right {
  margin-bottom: 20px;
  border-radius: 0 0 10px 10px;
  justify-content: right;
}

.playerStatus-left {
  margin-top: 20px;
  border-radius: 10px 10px 0 0;
}
