.slot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 230px;
  border-radius: 10px;
  background-color: #a9a9a980;
  margin: 5px;
  text-align: center;
  border: 1px solid black;
}
