.slot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  min-width: 160px;
  max-width: 202px;
  height: 202px;
  border-radius: 10px;
  background-color: #e6e6e68b;
  margin: 5px;
  text-align: center;
  border: 1px solid black;
}
