.rivalsPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rivalsPageContent {
  display: flex;
  flex-direction: row;
}

.tableData {
  overflow: scroll;
  height: 400px;
  text-align: center;
}

/*
.rivalsTable td {
  width: 160px;
}*/

.tableHeader {
  display: flex;
  flex-direction: row;
}
.tableHeader div {
  width: 160px;
  text-align: center;
}
