.playerStatus {
  box-sizing: border-box;
  flex-direction: column;
  padding: 15px;
  width: 160px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
  color: #fff8e0;
  font-weight: 600;
  background-image: url("/src/assets/statusBox.png");
}

.damagedPlayerStatus {
  position: absolute;
  width: 160px;
  height: 120px;
  animation-name: fadeOutAnimation;
  animation-duration: 1s;
  opacity: 0;
}

.invisible {
  display: none;
}

@keyframes fadeOutAnimation {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0;
  }
}

.statusText {
  align-items: center;
  margin: 2px;
}

.deckIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-image: url("/src/assets/icons/deckIcon.png");
  background-size: 100% 100%;
  margin: 2px;
}
