.cardBackground {
  position: relative;
  background-image: url("/src/assets/cardBackground.png");
  background-size: 100% 100%;
  width: 147px;
  height: fit-content;
  margin: 5px;
}

.cardBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  text-align: center;
  font-size: 12px;
}

.title {
  width: 88%;
  margin: 5px;
  padding: 3px;
}

.attribute {
  width: 40%;
  margin: 5px;
  padding: 3px;
  display: flex;
  justify-content: center;
}

.bottomLine {
  display: flex;
  justify-content: space-around;
  width: 85%;
}

.icon {
  width: 13px;
}

.portrait {
  width: 125px;
  height: 125px;
  border: 1px solid black;
}

.redCard {
  background-color: var(--red);
  .title {
    background-color: var(--lightRed);
  }
  .attribute {
    background-color: var(--lightRed);
  }
}

.yellowCard {
  background-color: var(--yellow);
  .title {
    background-color: var(--lightYellow);
  }
  .attribute {
    background-color: var(--lightYellow);
  }
}

.greenCard {
  background-color: var(--green);
  .title {
    background-color: var(--lightGreen);
  }
  .attribute {
    background-color: var(--lightGreen);
  }
}

.blueCard {
  background-color: var(--blue);
  .title {
    background-color: var(--lightBlue);
  }
  .attribute {
    background-color: var(--lightBlue);
  }
}

.notUsable {
  position: absolute;
  background-color: #00000050;
  width: 100%;
  top: 0;
  bottom: 0;
}

.selectable {
  box-shadow: 0 0 10px 5px rgb(255, 255, 255);
}
