.cardBackground {
  background-image: url("/src/assets/cardBackground.png");
  background-size: 100% 100%;
  width: 160px;
  height: fit-content;
  margin: 5px;
}

.cardBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  text-align: center;
  font-size: 13px;
}

.title {
  width: 85%;
  margin: 7px;
  padding: 4px;
}

.attribute {
  width: 40%;
  margin: 7px;
  padding: 4px;
  display: flex;
  justify-content: center;
}

.bottomLine {
  display: flex;
  justify-content: space-around;
  width: 85%;
}

.icon {
  width: 14px;
}

.portrait {
  width: 135px;
  height: 135px;
  border: 1px solid black;
}

.redCard {
  background-color: var(--red);
  .title {
    background-color: var(--lightRed);
  }
  .attribute {
    background-color: var(--lightRed);
  }
}

.yellowCard {
  background-color: var(--yellow);
  .title {
    background-color: var(--lightYellow);
  }
  .attribute {
    background-color: var(--lightYellow);
  }
}

.greenCard {
  background-color: var(--green);
  .title {
    background-color: var(--lightGreen);
  }
  .attribute {
    background-color: var(--lightGreen);
  }
}

.blueCard {
  background-color: var(--blue);
  .title {
    background-color: var(--lightBlue);
  }
  .attribute {
    background-color: var(--lightBlue);
  }
}
