.navBar {
  display: flex;
  position: relative;
  width: 100vw; /* For desktop */
  min-width: 100%; /* For mobile */
  height: 48px;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 0px 5px black;
  background-color: #40372dc5;
}

.navLink {
  display: flex;
  width: 28%;
  max-width: 160px;
  align-self: center;
  font-weight: 300;
  justify-content: center;
  text-decoration-line: none;
  color: rgb(193, 179, 166);
  font-size: 14px;
  line-height: 48px;
}

.navLink:hover {
  text-decoration-line: underline;
}

.navLinkActive {
  text-decoration-line: underline;
  background-color: #40372d80;
}

.tooltip {
  position: relative;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: black;
  color: #fff;
  text-align: center;
  line-height: 18px;
  border-radius: 6px;
  padding: 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 10;
  top: 50px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
