.imgDiv {
  height: 80px;
  width: 80px;
  position: relative;
}

.squareCardImg {
  width: 70px;
  top: auto;
  right: auto;
}

.iconHover {
  top: 5px;
  left: 5px;
  background-color: #ffffff50;
  width: 40px;
  padding: 15px;
  position: absolute;
}

.icon {
  display: none;
}

.redCard {
  border: 5px solid var(--red);
}

.yellowCard {
  border: 5px solid var(--yellow);
}

.greenCard {
  border: 5px solid var(--green);
}

.blueCard {
  border: 5px solid var(--blue);
}
