:root {
  --red: #d95763f0;
  --lightRed: #e98e96f0;
  --yellow: #fbf236f0;
  --lightYellow: #fffcbff0;
  --green: #3dd33df0;
  --lightGreen: #9be99bf0;
  --blue: #3f5cebf0;
  --lightBlue: #6c98faf0;
  --lightShade: #ffe7c240;
  --darkShade: #4c2e0040;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/src/assets/background.jpg");
  background-size: cover;
  background-color: #888072;
}

#root {
  background-color: rgba(254, 226, 186, 0.527);
  display: flex;
  background-repeat: repeat;
  width: fit-content;
  min-width: 100%;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
